@font-face {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/TTNorms-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/TTNorms-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/TTNorms-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/TTNorms-Light.woff2') format('woff2');
}
