@import 'reset';
@import 'fonts';
@import 'general';
@import 'header';
@import 'hero';
@import 'sub-hero';
@import 'advantages';
@import 'our-services';
@import 'team';
@import 'case';
@import 'current-company';
@import 'news';
@import 'footer';
@import 'services/services';
@import 'services/services-page';
@import 'about/about';
@import 'team/all-team';
@import 'team/all-team-member.scss';
@import 'contact/contact.scss';
@import 'publications/publications.scss';